/* microsite builder modals */

.modal-content {
  margin-top: 50px;
  padding: 15px;
  padding-bottom: 50px;
}

.modal .carousel-inner {
	height: auto;
	overflow-y: auto;
	padding-bottom: 25px !important;
	transition: height .2s;
}

h1.modal-title {
  margin: 40px initial;
  text-align: center;
}

h1.modal-title .section {
	font-size: .85em;
}

.modal-content .row {
	margin: auto;
	width: 75%;
}

.modal-section-title {
	font-size: 24px;
}

.builder-form-header .form-group {
	margin-bottom: 50px;
	padding: 10px;
}

.builder-form-header .form-group input {
	border: 1px solid #8ca5b8;}

.builder-form-header .form-group label {color: #000;}

.builder-form-header .form-group p {color: #666;}

.builder-form-media-area .nav-pills>li.active>a 
 {
	background-color: #134c78;
	color: #fff;
	transition: background-color .3s;
}
.builder-header-panel {
	margin-bottom: 50px;
}

.builder-form-media-area .nav-pills>li.active>a:hover, 
.builder-form-media-area .nav-pills>li.active>a:focus {
	background-color: #196293;
	color: #fff;
	transition: background-color .3s;
}

.builder-form-media-area .nav-pills>li>a {
	background-color: transparent;
	color: #134c78;
	transition: background-color .3s;
}

.builder-form-media-area .nav-pills>li>a:hover {
	background-color: #196293;
	color: #fff;
	transition: background-color .3s;
}

.builder-form-media-area .btn-default {margin-bottom: 0;}

.tab-content {
	border: 1px solid #134c78;
	border-radius: 3px;
	margin-bottom: 50px;
	padding: 10px;
	width: 100%;
	height:450px;
}

.tab-content .row {width: initial;}

.choose-media-source a {
	cursor: pointer;
	display: block;
	height: 84px;
	padding: 10px;
}

.choose-media-source > a.choose-user-media-list div,
.choose-media-source > a.choose-collection div,
.choose-media-source > a.choose-tag div, 
.choose-media-source > a.choose-source div, 
.choose-media-source > a.choose-campaign div {
	background: url('syn_ms_icons.png') no-repeat 0 0;
	display: inline-block;
	height: 64px;
	margin-right: 15px;
	width: 64px;
}

.choose-media-source a,
.choose-media-source a:visited {	
	color: #134c78;
 	text-decoration: none;
 }

.choose-media-source a:hover,
.choose-media-source a:focus,
.choose-media-source a:active {
	color: ##196293;
}

.choose-media-source > a.choose-user-media-list:hover > div {background-position: 0 -64px;}

.choose-media-source > a.choose-collection div {background-position: -64px 0;}
.choose-media-source > a.choose-collection:hover > div {background-position: -64px -64px;}

.choose-media-source > a.choose-tag div {background-position: -128px 0;}
.choose-media-source > a.choose-tag:hover > div {background-position: -128px -64px;}

.choose-media-source > a.choose-source div {background-position: -192px 0;}
.choose-media-source > a.choose-source:hover > div {background-position: -192px -64px;}

.choose-media-source > a.choose-campaign div {background-position: -256px 0;}
.choose-media-source > a.choose-campaign:hover > div {background-position: -256px -64px;}


.choose-media-source div,
.choose-media-source p {
	display: block;
	float: left;
}

.choose-media-source p {margin-top: 22px;}

.choose-media-source p i {
	margin-left: 5px;
	transition: .3s;
}

.choose-media-source > a.choose-user-media-list:hover > p i,
.choose-media-source > a.choose-collection:hover > p i,
.choose-media-source > a.choose-tag:hover > p i,
.choose-media-source > a.choose-source:hover > p i,
.choose-media-source > a.choose-campaign:hover > p i {
	margin-left: 25px;
	transition: .2s;
}

.builder-form-footer {margin-bottom: 50px;}

.builder-form-footer h2 {
	margin-left: -15px;
	font-size: 1.1em;
}

.builder-form-footer .form-group input {
	border: 1px solid #8ca5b8;
	padding: 10px;
}

.builder-form-footer .form-group label {
	display: block;
	height: 0;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
}

.builder-form-footer input {
	color: #333;
} 

button.close {
	background-color: #fff;
    border-radius: 50%;
  	font-size: 40px;
    opacity: .85;
    padding: 0 8px;
    position: absolute;
    right: 0;
    top: -45px;
    z-index: 999;
}


button.close:hover {
  opacity: 1.0;
}

.modal-backdrop {background-color: #fff;}

.modal-backdrop.in {opacity: .8;}

.carousel {
  height: auto;
  padding-bottom: 25px;
}

.carousel-control .icon-prev, 
.carousel-control .icon-next, 
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
	
	width: 150px;

}

.carousel-control.left,
.carousel-control.right {background-image: none;}

.carousel-control,
.carousel-control:active,
.carousel-control:visited {
  color: #4c8bb8;
  opacity: 1.0;
  text-shadow: none;
  top: 90%;
  width: 5%;
}

.carousel-control:hover,
.carousel-control:focus {
  color: #134c78;
}

.builder-direction p {margin-top: 15px;}
