.abv60{
    max-height: 60px;
    overflow: hidden;
}

@media (min-width: 992px) {
    .pull-right-md {
        float: right;
    }
}

@media (max-width: 1000px) {
    #urlModal{
        margin-top: 10px;
    }
}